[Unit]
Description=PRISM Hub Server
After=network.target

[Service]
ExecStart=/home/prism/server_bin
WorkingDirectory=/home/prism
User=prism
Restart=always

[Install]
WantedBy=multi-user.target
