[Unit]
Description=Fitz Agent
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/mriza/fitz/agent
ExecStart=/home/mriza/fitz/agent/fitz-agent -config /home/mriza/fitz/agent/fitz-agent.conf
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
