[Unit]
Description=PRISM Agent
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/mriza/prism/agent
ExecStart=/home/mriza/prism/agent/prism-agent -config /home/mriza/prism/agent/prism-agent.conf
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
